.header__links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-top: 18px;
    align-items: center;
}


@media screen and (max-width: 767px) {
    .header__links {
        padding-top: 10px;
    }
}