.header {
    margin: 0 auto;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    
}

@media screen and (max-width: 1023px) {
    .header {
        width: calc(100% - 2 * 24px);
    }
}

@media screen and (max-width: 767px) {
    .header {
        width: calc(100% - 2 * 16px);
        padding-top: 16px;
    }
}