.lead__title {
    margin: 0 132px;
    max-width: 720px;
    margin-top: 56px;    
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;    
}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 1.1;
        text-align: center;
    }
}