.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    padding-top: 92px;
    padding-bottom: 24px;
    margin-left: 48px;
    margin-right: 48px;
    color: white;
}

@media screen and (max-width: 1023px) {
    .footer {
        margin: auto;
        padding-top: 88px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: calc(100% - 134px);
        margin: auto;
        margin-top: 64px;
        margin-bottom: 24px;
        flex-direction: column;
    }
}